.card.accordion-card {
  border: none;
}

.header-card {
  text-align: center;
  background-color: #F9F9F9;
  border-radius: 8px;
  margin: 16px 0;
  padding: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.header-card > h1 {
  font-family: 'Jost', sans-serif;;
  font-size: 32px;
  margin-top: 64px;
}

#header-card-banner {
 height: 100px;
 background-image: linear-gradient(to bottom right, #7b7b7b, #3c3c3c);
 border-radius: 8px 8px 0 0;
}

#bio {
  padding: 0 32px;
}

#avatar {
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: 50px;
  border: 4px solid #f9f9f9;
}

/* Accordeon style */

#myAccordion {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
}

#myAccordion .card-header {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  background-color: #F9F9F9;
}

#myAccordion #first-accordion-card {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

#myAccordion #last-accordion-card {
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.accordion-card-title {
  font-family: 'Muli', sans-serif;
  color: #505050;
  text-decoration: none;
  font-size: 18px;
}

.accordion-card-title:focus {
  box-shadow: none;
  text-decoration: none;
  color: black;
}

.accordion-card-title:hover {
  text-decoration: none;
  color: black;
}

#last-accordion-card {
  border-top: 1px solid rgba(0,0,0,.125);
}

#first-accordion-card {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

/* Skills card */
.icons-card {
  text-align: center;
}

.icons-card > h3 {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,.125);
  margin-bottom: 16px;
}

 .icons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  grid-row-gap: 10px;
 }

 .tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .skill-icon {
  font-size: 50px;
 }


/* Work sample card */

.card.work-sample-cards {
  border: 1px solid rgba(0,0,0,.125);
}

.card-img {
  height: 100px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.card-img-container {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

/* Contact card */

.contact-card {
  text-align: center;
  background-color: #F9F9F9;
  border-radius: 8px;
  margin: 16px 0;
  padding: 8px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.list-inline {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.social-icon {
  font-size: 56px;
  transition-duration: 0.3s;
}

.social-icon:hover {
  text-shadow: 0 0 8px rgba(0,0,0,0.32);
}

.linkedin {
  color: #0077b5;
}

.linkedin:hover {
  color: #0077b5;
}

.email {
  color: #dc493d;
}

.email:hover {
  color: #dc493d;
}

.github {
  color: black;
}

.github:hover {
  color: black;
}


/* Le Wagon category card */
.card-category {
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  text-shadow: 0 0 10px #000000;
}
