@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Muli&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("components/cards.css");
@import url("components/buttons.css");
@import url("components/footers.css");

body {
  /*background-color: #EDEDED;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-height: 100vh;
  background: #000000;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

a {
  font-family: 'Muli', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

